.alert_error{
    display: inline-block;
    color: white;
    margin-top: 3px;
    background-color: rgb(254, 56, 56);
    border-radius: 2px;
    padding: 2px;
}


.success_error{
    display: inline-block;
    color: white;
    margin-top: 3px;
    background-color: rgb(120, 255, 53);
    border-radius: 2px;
    padding: 2px;
}